<mat-card class="fill">
    <mat-card-header>
        <mat-card-title class="clickable" (click)="handleHeaderClick()">{{container.name}}</mat-card-title>
        <input mat-input [(ngModel)]="itemSearchTerm" placeholder="search..." (click)="$event.stopPropagation()"/>
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let id of utilSv.getObjectKeys(container.items)">
            <div *ngFor="let item of container.items[id]">
                <app-item-list-entry
                    *ngIf="item.name.includes(itemSearchTerm.toLowerCase())" 
                    [highlight]="highlight" [item]="item"
                    (onItemSelect)="handleItemSelected($event)"
                    (onChangeQty)="handleQtyChange($event)">
                </app-item-list-entry>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions *ngIf="!readOnly">
        <button mat-icon-button (click)="handleAddItemClick()" mat-raised-button>
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button (click)="handleEditLayoutClick()" mat-raised-button>
            <mat-icon>edit</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>