<mat-card>
    <mat-card-header>
        <mat-card-title>{{containerName}}</mat-card-title>
    </mat-card-header>
    <input mat-input [(ngModel)]="itemSearchTerm" placeholder="search..." (click)="$event.stopPropagation()"/>
    <mat-card-content>
        <div class='item-list-entry'>
            <div></div>
            <div>Item Name</div>
            <div>Qty</div>
            <div style="text-align: center;">Container</div>
            <div style="text-align: center;">Days Left</div>
        </div>
        <div *ngFor="let id of utilSv.getObjectKeys(itemsMap)">
            <app-item-list-entry 
                [highlight]="highlight" [item]="itemsMap[id]"
                (onItemSelect)="handleItemSelected($event)"
                (onChangeQty)="handleQtyChange($event)"
                *ngIf="itemsMap[id].name.includes(itemSearchTerm.toLowerCase())">
            </app-item-list-entry>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="handleAddItemClick()" mat-button>ADD ITEM</button>
        <button (click)="handleEditLayoutClick()" mat-button>EDIT LAYOUT</button>
    </mat-card-actions>
</mat-card>