<div id="home">
  <ng-container *ngFor="let containerEntry of containerMap | keyvalue">
    <app-container (contextmenu)="onContainerRightClick($event,containerEntry.value)" 
      (onContainerClick)="onContainerClick($event)" [container]="containerEntry.value" class="app-flex-item"></app-container>
  </ng-container> 
  <button mat-button (click)="onAddContainerClick()">Add Container</button> 
</div>

<app-item-context-menu *ngIf="showItemContextMenu"
  [position]="itemContextMenuPosition" (onOptionSelect)="onItemContextMenuOptionSelect($event)">
</app-item-context-menu>