.container-hdr{
    padding-top:1vh;
    height: 10%;
    min-height: 50px; 
    font-weight: bold;
}

.container-content{
    height: calc(80% - 50px);
    min-height: 150px;
}

.container{
    border: black 1px solid;
    width: 100%; 
    height: 100%;
}

.editable-item:hover{
    color: white;
    background: rgb(250, 191, 81);
}

input{
    width:calc(100% - 5px);
    height: 2vw;
    font-size: 2vw;
    box-sizing: border-box;
}