<gridster>
    <div *ngFor="let tile of layout.tiles" [ngStyle]="getTileStype(tile)"></div>
<div [ngStyle]="{'grid-area':cornerArea,'z-index':'-1'}"></div>
</gridster>

<div id="EditPanel">
    <div *ngFor="let tile of layout.tiles">
        <label>x: </label>
        <input type='number' [(ngModel)]="tile.x"/>
        <label>y: </label>
        <input type='number' [(ngModel)]="tile.y"/>
        <label>rows: </label>
        <input type='number' [(ngModel)]="tile.rows"/>
        <label>cols: </label>
        <input type='number' [(ngModel)]="tile.cols"/>
    </div>
</div>