<div [ngStyle]="gridStyle">
    <div [ngClass]="{'clickable':canExpand}" 
        (click)="canExpand? handleExpand():{}"
    > 
        {{canExpand? 
            expanded? 'v':'>' 
            : ''
        }}
    </div>
    <ng-container *ngFor="let col of displayColumns">
        <div *ngIf="col === 'ITEM'" > {{itemName}} </div>
        <div class="quantityCell" *ngIf="col === 'QUANTITY'">
            <div *ngIf="canInteract" class="clickable" style="color:red" 
                (click)="handleQuantityChange($event, -1)"
            > - </div>
            {{quantity > 1? 'x'+quantity:''}}
            <div *ngIf="canInteract" class="clickable" style="color:green"
                (click)="handleQuantityChange($event, 1)"
            > + </div>
        </div>
        <div *ngIf="col === 'CONTAINER'" style="text-align: center;"> {{containerName}} </div>
        <div *ngIf="col === 'DAYS_LEFT'"> {{daysLeft}} </div>
    </ng-container>
</div>
