<div [ngStyle]="{'position':'relative'}">
    <div class="p-bar-container fill">
        <app-progress-bar [percentage]="getProgress()" [style]="getProgressStyle()"></app-progress-bar>
    </div>
    <div class="item-info-container fill">
        <div> {{itemName}} </div>
        <div class="quantityCell">
            <div *ngIf="canInteract" class="clickable" style="color:red" 
                (click)="handleQuantityChange($event, -1)"
            > - </div>
            {{quantity > 1? 'x'+quantity:''}}
            <div *ngIf="canInteract" class="clickable" style="color:green"
                (click)="handleQuantityChange($event, 1)"
            > + </div>
        </div>
        <div> {{containerName}} </div>
        <div> {{daysLeft}} </div>
        <input [(ngModel)]="daysLeft" type="number">
    </div>
</div>
