.quantityCell{
    text-align: center;
    display: flex;
    justify-content:space-around;
}

.p-bar-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.item-info-container{
    position: relative;
    z-index: 1;
    background: none;
}