<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content class="dialog-content">
    <div *ngFor="let valueObj of data.value | keyvalue; trackBy:trackByFn" >
        <ng-container *ngIf="!['createdAt','updatedAt','__v','_id','items','availableItems'].includes(valueObj.key)">
            <p style="font-weight: bold;">{{valueObj.key}}</p>
            <mat-form-field style="width: 100%;">
                <input [disabled]="valueObj.key == '_id'" matInput [(ngModel)]="data.value[valueObj.key]">
            </mat-form-field>
        </ng-container>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.value" cdkFocusInitial>Confirm</button>
</div>