<div *ngIf="!!user" [ngClass]="['containerCardContainer']">
    <ng-container *ngFor='let containerEntry of user.containers | keyvalue'>
        <div [ngClass]="['containerCard']">
            <app-items-list [container]="containerEntry.value" [readOnly]="true"
                [hideFields]="hideFields" (onSelect)="handleContainerSelect($event)"
            ></app-items-list>
        </div>
    </ng-container>
</div>
<div [ngClass]="['buttonContainer']">
    <button mat-raised-button (click)="onAddContainerClick()">Add Container</button>
</div>