<div *ngIf="mainContainer" class='container'>
    <!-- <app-edit-container-layout [layout]="mainContainer.layout" [fromContainer] = "mainContainer.id"
        [highlight]="getHighlightedContainers()" [editable]="isEdittingLayout" 
        (onContainerSelected)="onContainerSelected($event)" (onGridClicked)="onGridClicked()"
    ></app-edit-container-layout> -->
    <div class="itemList" *ngIf="!isEdittingLayout">
        <app-items-list 
            [highlight]="containerHighlightSelected"
            [container]="selectedContainer"
        >
        </app-items-list>
    </div>
    
</div>