<div class="app-fill">
    <h1 mat-dialog-title>Item Lookup</h1>
    <div mat-dialog-content class="dialog-content">
        <input style="width: 99%;" type="text" [(ngModel)]="lookupText" />
        <div style="padding: 0px 20px;">
            <ng-container *ngFor="let itemId of utilSv.getObjectKeys(itemStore)">
                <div class="hoverable clickable" (click)="handleItemClick(itemStore[itemId])" 
                    *ngIf="itemStore[itemId].name.includes(lookupText)">
                    {{itemStore[itemId].name}}
                </div>
            </ng-container>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button (click)="handleAddItem()" cdkFocusInitial>Add Item</button>
    </div>
</div>