<div style="display: flex; height: 100%; justify-content: center;align-items: center;">
    <button class='panel-button' style='bottom:0' (click)="onButtonClick('add row')">Add Row</button>
    <button class='panel-button' style='top:0' (click)="onButtonClick('del row')">Del Row</button>
    <button class='panel-button' style='right:0' (click)="onButtonClick('add col')">Add Column</button>
    <button class='panel-button' style='left:0' (click)="onButtonClick('del col')">Del Column</button>
</div>
