.button-right{
    position: absolute;
    right: 0;
}

.container{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlight{
    height: 98%;
    border: 3px solid orange;
}

.selected{
    height: 98%;
    border: 3px solid rgb(76, 64, 238);
}

.drag-handler{
    cursor: move;
    top:0;
    position: absolute;
    width: 100%;
    background: cornflowerblue;
    height: 30px;
}