#edit{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#containerDiv{
    width: 40vw;
    height: 80vh;
}

#availItemDiv{
    width: 40vw;
    height: 80vh;
}

.back-drop{
    background:rgba(0, 0, 0, 0.281);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
#itemStorage{
    width:30vw;
    height: 80vh;
    position: relative;
    margin: auto;
}