<button mat-button style="color: white; background: black; margin: 0px 0px 10px 0px;" 
  (click)="onBackBtnClick()">BACK</button>
<div id="edit">
  <div id="containerDiv">
    <app-container [container]='selectedContainer' [editable]="true" [selectedItems]="selectedItems"
    (onItemSelect)="onContainerItemSelect($event)"></app-container>
  </div>
  <div>
    <button mat-button (click)="transferRight()"> &gt; </button>
    <button mat-button (click)="transferLeft()"> &lt; </button>
  </div>
  <div id="availItemDiv">
    <app-container [container]='{name:"Available Items",items:selectedContainer.availableItems}'
    [selectedItems]="selectedAvailableItems"
    [availableActions]='availableItemActions'
    [editable]="true"
    [sortFunction]="utilSv.sortAvailItem"
    (onItemSelect)="onAvailableItemSelect($event)"
    (onItemContextMenu)="onAvailableItemContextMenu($event)"
    (onItemDel)="onAvailableItemRemove($event)"
     #availItems></app-container>
  </div>
  <button mat-button (click)="onAddClick()">Add Available Item</button>
  <button mat-button [disabled]="!containerChanged" (click)="onSaveClick()">Save</button>
</div>

<div class="back-drop" *ngIf="addingItem" (click)="onBackDropClick($event)">
  <div id='itemStorage'>
    <app-container [canAddNewItem]="true" [container]="itemStorage" [editable]="true" [selectedItems]="selectedStorageItems"
    [availableActions]="storageItemActions"
    (onItemSelect)="onStorageItemSelect($event)" (onItemAdd)="onStorageItemAdd($event)"
    (onItemDel)="onStorageItemDel($event)" (onItemEdit)="onStorageItemEdit($event)"
    (onConfirm)="onAddAvailableItem()"
    ></app-container>
  </div>
</div>

