#TopAppBanner{
    position: fixed;
    height: var(--topAppBannerHieght);
    width: 100%;
    top: 0px;
    z-index: 100;
}

.page-content{
    padding-top: calc(var(--topAppBannerHieght) + 20px);
}