<div *ngIf="editable">gridsize:
    <input type="number" [(ngModel)]="layout.size[0]" (change)="changeGridCols($event.target.valueAsNumber)"/>
    x
    <input type="number" [(ngModel)]="layout.size[1]" (change)="changeGridRows($event.target.valueAsNumber)"/>
</div>
<div [ngClass]="{'highlight':highlight[fromContainer]}" style="width: 80vh; height: 80vh;" (click)="onGridClick($event)">
    <gridster [options]="options">
        <ng-container *ngIf="layout.tiles">
            <gridster-item *ngFor="let tile of layout.tiles; let i=index" [item]="tile">
                <app-grid-custom-item [isDragable]="options.draggable && options.draggable.enabled" 
                    [isHighlight]="highlight[tile.id]" [name]="tile.name" [isSelected]="selected[tile.id]"
                    (click)="onItemSelected(i,$event)"></app-grid-custom-item>
            </gridster-item>
        </ng-container>
    </gridster>
</div>
<div *ngIf="itemEditting && editable" id="EditGridItemPanel">
    <app-edit-grid-item-panel  (onChoiceSelected)="pushItem($event)"></app-edit-grid-item-panel>
</div>
