.containerCardContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 50%;
    width: 100% ;
    flex-wrap: wrap;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.containerCard{
    padding: 10px;
    width: 300px;
    height: 300px;
}